.title{
    margin-left: 40%;
    margin-top: 10%;
    margin-bottom: 30px;
}
.forgot-button{
    margin-top: 30px;
    margin-left: 25%;
    width: 50%;
}
.btn{
    width: 30%;
    margin-left: 35%;
    margin-bottom: 30px;
}
.redirectToLogin{
    margin-left: 43%;
}